.topNav a {
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    color: white;
}

.topNav {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: forestgreen;
    height: 2.5vw;
}